<FormAlerts State="@State" Texts="@_alertMessages" />

<EditForm Model="@Configuration" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" >
    <DataAnnotationsValidator />
    
    <div class="form-group">
        <label for="@(nameof(Configuration.Id))">Id</label>
        <input type="text" value="@(Configuration.Id)" class="form-control" disabled/>
    </div>

    <div class="form-group">
        <label for="@(nameof(Configuration.CreatedOn))">Date of creation</label>
        <input type="datetime" value="@(Configuration.CreatedOn)" class="form-control" disabled/>
    </div>

    <div class="form-group">
        <label for="@(nameof(Configuration.HealthCheckCount))">Current count of checks</label>
        <input type="number" value="@(Configuration.HealthCheckCount)" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label for="@(nameof(Configuration.Name))">Name</label>
        <InputText id="@(nameof(Configuration.Name))" @bind-Value="Configuration.Name" class="form-control"/>
        <ValidationMessage For="@(() => Configuration.Name)" />
    </div>
    <button type="submit" class="btn btn-success float-right">Submit</button>
</EditForm>